.carouselLoader {
  text-align: center;
}

.textCarousel button{
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(85, 84, 84);
  color: rgb(240, 240, 17);
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

  @media screen and (min-width: 767px) {
    .carouselLoader {
      text-align: center;
      width: 50%;
      margin-left: 400px;
    }

    .title{
      font-size: 25px;
      font-weight: lighter;
    }

    .subtitle{
      font-size: 20px;
    }
    
      .imageCarousel{
        margin-left: -250px;
        margin-bottom: 300px;
      }
    
      .textCarousel{
        width: 40%;
        margin-left: 400px;
        margin-top: -550px;
        font-size: 20px;
        position: absolute;
      }

      .textCarousel h3{
        font-weight: lighter;
      }
  }
